<!--
  MESSAGES BOARD
  Emulate :-moz-any console output. Can include lines with color
  Author: harveytriana@gmaill.com
-->
<style>
    .board {
        margin-top: 15px;
        margin-bottom: 15px;
        color: #000
    }
</style>
<div class="@CardStyle">
    <div class="board">
        @foreach (var i in _lines) {
            <pre style="@i.Style">@i.Text</pre>
        }
    </div>
</div>

@code {
    [Parameter] public string DefaultColor { get; set; } = "#000";
    [Parameter] public bool Card { get; set; } = true;

    record struct Line(string Text, string Style);

    List<Line> _lines = new();

    readonly string _baseStyle = "margin-top:2px;margin-bottom:2px;margin-left:20px;margin-right:20px;";

    public void Add(string text = null)
    {
        Add(text, DefaultColor);
    }

    public void Add(string text, string color)
    {
        if (text.Contains("\n")) {
            foreach (var i in text.Split('\n')) {
                AddWithStyle(i, color);
            }
        }
        else {
            AddWithStyle(text, color);
        }
        StateHasChanged();
    }

    public void Clear()
    {
        _lines.Clear();
    }

    void AddWithStyle(string text, string color)
    {
        var tr = text;
        var st = GetStyle(ref tr, color);
        _lines.Add(new Line(tr, st));
    }

    string GetStyle(ref string text, string color)
    {
        if (string.IsNullOrEmpty(text)) {
            return "height:0px;";
        }

        var s = _baseStyle;
        if (color != DefaultColor) {
            s += $"color:{color};";
        }
        if (text.StartsWith("**")) {// bold
            text = text[2..];
            s += "font-weight:700;";
        }
        return s;
    }

    string CardStyle => Card ? "card bg-light" : "";
}
