<!--
  MESSAGES BOARD
  Emulate :-moz-any console output. Can include lines with color
  Author: harveytriana@gmaill.com
-->
<style>
    .board {
        font-family: Courier New, Courier, monospace;
        list-style: outside none;
        margin-top: 15px;
        color: #000
    }
</style>
<div class="card bg-light">
    <ul class="board">
        @foreach (var i in lines) {
            if (i.Style == BLANK) {
                <li style="height:10px"></li>
            }
            else if (i.Style == string.Empty) {
                <li>@i.Text</li>
            }
            else {
                <li style="@i.Style">@i.Text</li>
            }
        }
    </ul>
</div>

@code {
    const string BLANK = "blank";

    [Parameter] public string DefaultColor { get; set; } = "#000";

    record struct Line(string Text, string Style);

    List<Line> lines = new();

    public void Add(string text)
    {
        if (text is null)
            lines.Clear();
        else {
            Add(text, DefaultColor);
        }
    }

    public void Add(string text, string color)
    {
        if (string.IsNullOrWhiteSpace(text)) {
            this.lines.Add(new Line(string.Empty, BLANK));
        }
        else if (text.Contains("\n")) {
            foreach (var i in text.Split('\n')) {
                this.lines.Add(new Line(i.Trim(), GetStyle(i, color)));
            }
        }
        else {
            lines.Add(new Line(text.Trim(), GetStyle(text, color)));
        }
        StateHasChanged();
    }

    string GetStyle(string text, string color)
    {
        if (text == string.Empty) {
            return BLANK;
        }
        string style = string.Empty;
        // color
        if (color != DefaultColor) {
            style += $"color:{color};";
        }
        // padding
        var n = text.Length - text.TrimStart().Length;
        if (n > 0) {
            style += $"padding-left:{n * 8}px;";
        }
        return style;
    }

    public void Show()
    {
        foreach (var item in lines) {
            Console.WriteLine("■ {0} | {1}", item.Text, item.Style);
        }
    }
}
