@page "/"

<PageTitle>Calling Rust</PageTitle>

<center>
    <p class="title">Welcome Rust</p>
    <hr style="width:90%" />
    <img src="rust.png" />
    <br /><br />
    <h3>Hello, rustaceans</h3>
    <p class="subtitle">A concise demonstration of using Rust in Blazor WebAssembly</p>
</center>

@code {

}
