@page "/json-test"
@using System.Runtime.InteropServices
@using System.Text.Json

<PageTitle>Calling Rust Experiments</PageTitle>

<h3>Interchange JSON data</h3>
<hr />
<Board @ref="board" />

@code {
    const string RUSTLIB = "librstlib";

    [DllImport(RUSTLIB)] static extern IntPtr describe_person(int age);

    [DllImport(RUSTLIB)] static extern IntPtr get_user(int user_id);

    record Person(int person_id, int age, string first_name, string last_name, string full_name);
    record User(int user_id, string password, Person person);

    Board board;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) {
            RunSamples();
        }
    }

    void RunSamples()
    {
        board.Add("Calling Rust functions\n");

        board.Add("\nCOMPOSED OBJECTS");

        var jsPointer = get_user(79);
        var js = jsPointer.TextFromPointer();
        var user = JsonSerializer.Deserialize<User>(js);

        board.Add(string.Format("JSON data obtained from the library:\n{0}\n", js.PrettyJson()));
        board.Add(string.Format("User identifier : {0}", user.user_id));
        board.Add(string.Format("User first name : {0}", user.person.first_name));
        board.Add(string.Format("User last name  : {0}", user.person.last_name));
    }

}
