@page "/miscellany"

<PageTitle>Calling Rust</PageTitle>
<h3>Calling Rust Miscellany</h3>
<Board @ref="board" />

@code {
    [DllImport(RLIB)] static extern void hello_world();
    [DllImport(RLIB)] static extern float hypotenuse(float x, float y);
    [DllImport(RLIB)] static extern int counter();

    // STRINGS
    [DllImport(RLIB)] static extern void print_string([MarshalAs(UnmanagedType.LPUTF8Str)] string text);
    // OR **
    // [DllImport(RLIB)] static extern void print_string(byte[] utf8Text);
    [DllImport(RLIB)] static extern IntPtr get_some_string();
    [DllImport(RLIB)] static extern IntPtr describe_person(int age);

    // STRUCTURES
    record struct Parallelepiped(float length, float width, float height);
    [DllImport(RLIB)] static extern IntPtr get_parallelepiped_ptr();
    [DllImport(RLIB)] static extern float get_parallelepiped_volume(Parallelepiped p);

    Board board;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) {
            Miscellany();
        }
    }

    void Miscellany()
    {
        hello_world(); // console output

        board.Print("**CALLING A MATH FUNCTION");
        float x = 9, y = 11, h = hypotenuse(x, y);
        board.Print(string.Format("From Rust Library, Hypotenuse({0}, {1}) = {2}\n", x, y, h));

        board.Print("**COUNTER FROM EMULATED CLOSURE");
        board.Print($"Counter: {counter()}");
        board.Print($"Counter: {counter()}");
        board.Print($"Counter: {counter()}");
        board.Print($"Counter: {counter()}");
        board.Print($"Counter: {counter()}\n");

        // STRINGS
        // ---------------------------------------------------------
        board.Print("**SENDING STRINGS");
        board.Print("Send a string to Rust (with extended characters)");

        var s = "« Quien descubre el quién soy descubrirá el quién eres » Neruda";

        board.Print($"print_string('{s}')", "brown");
        print_string(s);
        board.Print("See the browser console output\n", "coral");

        // ** ok: but moore complexity
        // print_string("« Esto es un árbol »".Utf8Text());

        // getting a string from lib
        board.Print("**GETTING STRINGS");

        var ptr = get_some_string();
        var text = Marshal.PtrToStringUTF8(ptr);
        // OR
        // var text = p.TextFromPointer();

        board.Print($"String pointer : {ptr}");
        board.Print($"Dereferenced   : {text}\n");

        board.Print("**STRING FUNCTION");
        var age = 18;
        var desc = describe_person(age); // this is a pointer
        board.Print(string.Format("describe_person(age: 18) : {0}\n", desc.TextFromPointer()));

        board.Print("**STRUCTURES");

        var structPointer = get_parallelepiped_ptr();
        var parallelepiped = Marshal.PtrToStructure<Parallelepiped>(structPointer);
        var volume = get_parallelepiped_volume(parallelepiped);

        // show it
        board.Print($"Get pointer       : {structPointer}");
        board.Print($"Marshal to Struct : {parallelepiped}");
        board.Print($"Length            : {parallelepiped.length:N2}");
        board.Print($"Width             : {parallelepiped.width:N2}");
        board.Print($"Height            : {parallelepiped.height:N2}\n");
        board.Print("Call a rust function passing a C# struct as parameter");
        board.Print($"Volume            : {volume:N2}");
    }
}
