@page "/"
@using System.Runtime.InteropServices

<PageTitle>Calling Rust Functions</PageTitle>

<h3>Calling Rust Experiments</h3>
<hr />
<Board @ref="board" />

@code {
    const string RUSTLIB = "librstlib";

    [DllImport(RUSTLIB)] static extern void hello_world();

    [DllImport(RUSTLIB)] static extern float hypotenuse(float x, float y);

    [DllImport(RUSTLIB)] static extern int counter();

    [DllImport(RUSTLIB)] static extern void print_string([MarshalAs(UnmanagedType.LPUTF8Str)] string text);
    // OR **
    // [DllImport(RUSTLIB)] static extern void print_string(byte[] utf8Text);

    [DllImport(RUSTLIB)] static extern IntPtr get_some_string();

    [DllImport(RUSTLIB)] static extern IntPtr describe_person(int age);

    Board board;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) {
            RunSamples();
        }
    }

    void RunSamples()
    {
        hello_world(); // console output

        board.Add("\nCALLING MATH FUNCTION", "green");
        float x = 9, y = 11, h = hypotenuse(x, y);
        board.Add(string.Format("From Rust Library, Hypotenuse({0}, {1}) = {2}\n", x, y, h));

        board.Add("\nCOUNTER FROM CLOSURE", "green");
        board.Add($"Counter: {counter()}");

        // STRINGS
        // ---------------------------------------------------------
        board.Add("\nEXCHANGING STRINGS", "green");
        board.Add("Send a string to Rust (with extended characters)");
        board.Add("See the browser console output", "darkmagenta");
        print_string("■ Hello from Blazor");

        // ** ok: but moore complexity
        // print_string("« Esto es un árbol »".Utf8Text());

        // getting a string from lib
        board.Add("\nGETTING STRINGS", "green");

        var ptr = get_some_string();
        var text = Marshal.PtrToStringUTF8(ptr);
        // OR
        // var text = p.TextFromPointer();

        board.Add($"String pointer : {ptr}");
        board.Add($"Dereferenced   : {text}");

        board.Add("\nString function:");
        var age = 18;
        var desc = describe_person(age); // this is a pointer
        board.Add(string.Format("describe_person(age: 18) : {0}", desc.TextFromPointer()));
    }
}
